*{
    margin:0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    margin-bottom: 10px;
    margin-top: 10px;
    margin:auto;
    width: 100%;
    background-color: #fcfaf6;
    border: solid #867e66;
    font-style: italic;
}

#contenedor_general{
    background-color: #fcfaf6;
}

#header{
    background-color: #867e66;
    color: #fcfaf6;
    font-size: 40px;
    border: 1px solid black;
    text-align: center;
    margin: 10px; 
    width: 98%;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

nav{
    width: 100%;   
}

nav ul{
    list-style: none;     
 }

nav ul li{    
    float: left;
    width: 12%;
    height: 7%;
    text-align: center;
    margin-left: 17px;
    margin-right: 16px;  
    margin-bottom: 10px; 
}

nav ul li a{    
    display: block;
    font-size: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: bold;
    color: #fcfaf6;
    background-color: #867e66;
    text-decoration: none; 
    height: 35px; 
    justify-content: center;
    align-items: center;
    display: flex; 
}
nav ul li a:hover{
    background-color:#fcfaf6; 
    color: #867e66;  
    border: 2px solid black; 
}

section {
    float: left;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-right: 3px;
    margin-left: 10px;
    width: 66%;
    height: 75%;
    background: #FFF;
    padding: 10px;  
    justify-content: center;
    align-items: center;
}


aside {
    float:right;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 30%;
    height: 78%; 
    text-align: center;
    background: #FFF;
    justify-content: center;
    align-items: center;
    display: flex;
}

#footer {
    clear: both;
    border: 1px solid black;
    width: 97%;
    height: 100px;
    text-align: center;
    background: #FFF;
    margin: 10px;
    text-align: center;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media screen and (max-width: 1300px){
    body{
        width: 98%;
    }
}

@media screen and (max-width: 700px) and (orientation:landscape){
    body{
        width: 70%;
    }

    #header{
        width: 95%;
    }

    nav ul li{
        float:none;
        width: 25%;
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
    }

    section{
        float:none;
        width: 91%;
        margin-left: 10px;
    }

    aside{
        float:none;
        width: 95%;
        margin-left: 10px;
    }

    #footer{
        width: 91%;
    }
} 

@media screen and (max-width: 700px) and (orientation:portrait){
    body{
        width: 70%;
    }

    #header{
        width: 95%;
    }

    nav ul li{
        float:none;
        width: 28%;
        display: inline-block;
    }

    section{
        float:none;
        width: 91%;
        margin-left: 10px;
    }

    aside{
        float:none;
        width: 95%;
        margin-left: 10px;
    }

    #footer{
        width: 91%;
    }
} 

/* A continuación insertamos las media querys para hacer la web responsive design: */

@media screen and (max-width: 360px) and (orientation:landscape){ 
    body{
        width: 50%;
    }

    #header{
        width: 90%;
    }

    nav ul li{
        float:none;
        width: 90%;
    }

    section{
        float:none;
        width: 76%;
        margin-left: 10px;
    }

    aside{
        float:none;
        width: 88%;
        margin-left: 10px;
    }

    #footer{
        width: 75%;
    }
} 

@media screen and (max-width: 360px) and (orientation:portrait){ 
    body{
        width: 50%;
    }

    #header{
        width: 90%;
    }

    nav ul li{
        float:none;
        width: 90%;
    }

    section{
        float:none;
        width: 76%;
        margin-left: 10px;
    }

    aside{
        float:none;
        width: 88%;
        margin-left: 10px;
    }

    #footer{
        width: 75%;
    }
} 
