*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #fcfaf6;
    margin-top: 10px;
    margin-bottom: 10px;
}


h3{
    font-size: 1.2vw;
}
/*CONTENEDOR DE TODA LA PÁGINA, DONDE CONFIGURAMOS MARGENES Y ALINEACIONES */
.contenedor{
    display:block;
    width:70vw;
    margin: auto;
}

.logo{
    width: 50vw;
    height: 20vw;
}


.logo-img{
    position:relative;
    left: 70px;
    top:200px;
}

/*HEADER CON LA IMAGEN DE FONDO*/
#header-principal{
    background:linear-gradient(rgba(5, 7, 12, 0.61), rgba(5, 7, 12, 0.61)),
    url("../HEADER/otro.jpg");
    background-size:cover;

    display:flex;
    max-width:100%;
    min-height:800px;

    /*AL TENER 2 CONTENEDORES DENTRO DEL HEADER, USAMOS BETWEEN PARA QUE MANDE A CADA CONTENEDOR A UN EXTREMO DIFERENTE DEL HEADER, ESTO SE APLICA CON "DISPLAY:FLEX"*/
    justify-content:space-between;
    
}

/*CONTENEDOR CON ICONOS DE REDES + TELEFONO DE CONTACTO*/
.contenedor-derecho{
    display:flex ;
    justify-content:space-between;
    flex-direction:column;
    max-width:35%;
}

.redes {
    display:flex;
    justify-content:right;
    padding-right:10px;
    height: 40px;
    padding-top:10px;
    position: relative;
    right: 2vw;
}

.telefono{
    display:flex;
    align-items:center;
    padding-right:20px;
    padding-bottom:90px;
    justify-content:center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
    border-radius:8px;
    margin-right:10px;
    margin-bottom: 50px;
    position: relative;
    right: 4vw;
    width: 300px;
}

.telefono img{
    padding-right:5px;
    filter: brightness(0) invert(1);
    height:22px;

}

.telefono h2{
    font-size: 22px;
}
/*-----------------------------------*/
/*-----------------------------------*/

/*CONTENEDOR CON EL LOGOTIPO DE LA EMPRESA*/
.logo{
    display:flex;
    max-width:100%;
    align-items:center;
    justify-content:center;   
}



.logo-img{
    display:flex;
    height:500px;
    width: 100vw;
    /*Como la imagen en PNG es de color negro, al tener fondo transparente podemos cambiar el color de la imagen con la propiedad filter*/
    filter: brightness(0) invert(1);
    /*Le metemos mucho padding a la izquierda para tratar de centrar la imagen del logo con respecto al header ya que no podemos montar este contenedor, sobre el que tenemos a la derecha con redes y contacto*/

    /*Esto habrá que modificarlo con media querys*/
    padding-left:350px;    
}



/*Barra de navegación o de menú*/
nav{
    /*background-color:rgb(148, 139, 99);
    */
    background:transparent;
    margin-top:-80px;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:50px;
    z-index:1006;
}

/*Lista de menu*/
nav ul{
    list-style: none;

}


/*Configuración de todos "a" que hay en el nav*/
nav a{
    padding-right:20px;
    color:white;
    text-decoration:none;
    font-size:24px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /*Con el transition + el border-obttom, vamos a conseguir que al aplicar un hover sobre los "a" nos aparezca la barra inferior debajo de cada texto del menú*/
    transition: all .55s ease;
    border-bottom: 2px solid transparent;
}

nav a:hover {
    border-bottom: 2px solid white;
}


/*Lista principal del menú*/
.lista-menu > li {
    position: relative;
    display: inline-block;
}



.lista-menu > li > a{
    display: block;
    padding: 15px 20px;
    
    
}

/* Menú con los tipos de productos*/
.submenu-productos{
    position:absolute;
    background:linear-gradient(rgba(5, 7, 12, 0.65), rgba(5, 7, 12, 0.65));
    border-radius:8px;
    width:150%;
    text-align:center;
    padding-right:25px;
    margin-top:25px;
    /*Tenemos que ocultar el submenú para hacerlo aparecer mediante el hover, portanto usabmos la propiedad visibility:hidden para ocultarlo y le damos opacidad 0, la opacidad la usamos para generar el efecto de transición 
    con el que aparece el submenú cuando ponemos el ratón por encima*/
    visibility:hidden;
    opacity: 0;

    transition: opacity 0.55s;
    z-index:1007;
}


.submenu-productos li a{
    display:block;
    padding: 15px;
    

}

/*Con este hover estamos diciendo que a todos los elementos "li" del submenú los haga visibles dándoles opacidad*/
.lista-menu li:hover .submenu-productos{
    visibility: visible;
    opacity: 1;

}


/*SUBMENU FIJOS*/
/* Menú con los tipos de productos*/
.submenu-fijos{
    position:absolute;
    background:linear-gradient(rgba(5, 7, 12, 0.65), rgba(5, 7, 12, 0.65));
    border-radius:8px;
    width:50%;
    text-align:center;
    padding-right:25px;
    margin-left:250px;
    margin-top: -50px;
    /*Tenemos que ocultar el submenú para hacerlo aparecer mediante el hover, portanto usabmos la propiedad visibility:hidden para ocultarlo y le damos opacidad 0, la opacidad la usamos para generar el efecto de transición 
    con el que aparece el submenú cuando ponemos el ratón por encima*/
    visibility:hidden;
    opacity: 0;
    z-index:1008;
    transition: opacity 0.55s;
}


.submenu-fijos li a{
    display:block;
    padding: 15px;
    

}

/*Con este hover estamos diciendo que a todos los elementos "li" del submenú los haga visibles dándoles opacidad*/
.submenu-productos li:hover .submenu-fijos{
    visibility: visible;
    opacity: 1;

}



/*SUBMENU DESLIZANTES*/
/* Menú con los tipos de productos*/
.submenu-deslizantes{
    position:absolute;
    background:linear-gradient(rgba(5, 7, 12, 0.65), rgba(5, 7, 12, 0.65));
    border-radius:8px;
    width:50%;
    text-align:center;
    padding-right:25px;
    margin-left:250px;
    margin-top: -50px;
    /*Tenemos que ocultar el submenú para hacerlo aparecer mediante el hover, portanto usabmos la propiedad visibility:hidden para ocultarlo y le damos opacidad 0, la opacidad la usamos para generar el efecto de transición 
    con el que aparece el submenú cuando ponemos el ratón por encima*/
    visibility:hidden;
    opacity: 0;

    transition: opacity 0.55s;
}


.submenu-deslizantes li a{
    display:block;
    padding: 15px;
    

}

/*Con este hover estamos diciendo que a todos los elementos "li" del submenú los haga visibles dándoles opacidad*/
.submenu-productos li:hover .submenu-deslizantes{
    visibility: visible;
    opacity: 1;

}


/*SECTION CON LOS TIPOS DE SOFÁS*/
.product_table{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
  width:90%;
  margin:auto;
  padding:40px 0;
  padding-top:60px;
  grid-gap: 10px;
  overflow: hidden;
  z-index:1008;
}
/*CONFIGURACION DE CADA IMAGEN DE LA GALERÍA QUE SE MUESTRA EM PEQUEÑO*/
.product_table img{
    width: 90%;
    vertical-align: top;
    height:400px;
    object-fit: cover;
    border-radius:8px;
}

/*EFECTO ZOOM AL PASAR POR ENCIMA DE UNA IMAGEN CON EL MOUSE*/

.product_table img:hover{
    transform: scale(1.10);
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}


/*Texto*/
.product_table >h2{
    text-align:center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:40px;
    color:white;
    background:rgb(81, 82, 88);

}


/*Vamos a dar forma a la galería de imágenes*/
.product_table > a {
    display: block;
    position: relative;
    overflow: hidden;
}

/*Metemos animaciones*/
.galeria a:hover img{
    filter:blur(2px);
}

section{
    float: left;
    width:53vw; 
    height: 51vw;
    margin-top: 10px;
    border: solid 1px black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
    padding-top: 50px;
}

section footer p{
    font-size: 1.2vw;
    font-weight: bold;
}


section header{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}

article{
    text-align: justify;
    font-size:1.1vw;
}

.img-p1{
    padding: 10px;
}

.sofa1{
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15,15,15,.5);
}

.sofa2{

    float:right;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15,15,15,.5);
}

.img-p2{
    padding: 10px;
}

.footer-sec1{
    text-align: center;
}

#aside{
    float:right;
    align-items:center;
    justify-content:center;
    width:13vw;
    height: 53.2vw;
    border: solid 1px black;
    margin-top: 30px;

}

.interiores{
    margin-bottom: 10px;
}

.el-mueble{
    margin-bottom: 10px;
}

#footer-principal{
    clear: both;
    background-image: url( ../HEADER/footer.jpg);
    background-size: cover;
    height: 180px;
    text-align: center;
    color: #fcfaf6;  
    width: 100%; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 20px;
}

footer a{
    text-decoration: none;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer h3{
    font-size: 15;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fcfaf6;    
}

table th{
    padding: 10px;
}

.redes-sociales{
    margin-top: 10px;
    width: 25%;
}

img.peq{
    margin-left: 30px;
}

.redes-sociales nav a{
    margin: 10px;
}

.t{
    width: 100%;
    padding: 10px;
    text-align: center;
    display: flexbox;
}
       

.copyright{
    clear:both;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    }


/** A continuación insertamos las media querys para hacer la web responsive design: */
/** Requerimiento 3.1 Adaptación de ancho fijo de resoluciones de más de 1300px de ancho. */

@media screen and (max-width: 1300px){
    header{
        width: auto;
    }

    .contenedor-derecho{
        position: relative;
        right: 2vw;

    }

    .logo{
        width: 25vw;
    }

    .logo-img{
        width: 50vw;
        position: relative;
    }    

    .lista-menu{
        height: 150px;
    }

    .telefono{
        width: 40vw;
        position: relative;
        right: 15vw;
    }

    .section{
        float: left;
        width: 95%;
        height: 62vw;
        font-size: 20px;
        margin-top: 10px;;
    }
    
    article{
        font-size:1.5vw;
    }

    section header h2{
        font-size: 1.8vw;
    }

    section footer p{
        font-size: 1.2vw;
        font-weight: bold;
    }

    .sofa1{
        width: 60%;
        margin-bottom: 10px;
    }

    .sofa2{
        width: 60%;
        margin-bottom: 10px;
    }

    #aside{
        display: flex;
        float: left;
        width: 99%;
        height: 20vw;
        margin-top: 0px;
    }

    .interiores{
        width: 225px;
        margin: 10px;
        
    }   

    .el-mueble{
        width: 225px;
        margin: 10px;
        padding: 10px;
    }

    .mi-casa{
        width: 225px;
        margin: 10px;
        padding: 10px;
    }

    #footer-principal{
        display: block;
        height: 200px;
    }
}

/** Requerimiento 3.2 Adaptación optimizada para verse en una tablet en posición vertical. */
@media screen and (max-width: 820px) and (orientation:portrait){
    
    .logo{
        width: 25vw;
        height: 300px;
    }

    .contenedor-derecho{
        position: relative;
        right: 2vw;

    }

    .logo-img{
        width: 50vw;
        position: relative;

    }    

    .lista-menu{
        height: 150px;
    }

    .telefono{
        width: 40vw;
        position: relative;
        right: 15vw;
    }

    .section{
        float: left;
        width: 92%;
        height: 60vw;
        font-size: 20px;
        margin-top: 10px;
    }

    article{
        font-size:1.5vw;
    }

    section h3{
        font-size: 1.8vw;
    }

    .sofa1{
        width: 60%;
        margin-bottom: 10px;
    }

    .sofa2{
        width: 60%;
        margin-bottom: 10px;
    }

    .footer-sec1{
        position: relative;
        bottom: 30px;
    }

    #aside{
        display: flex;
        float: left;
        width: 99%;
        height: 20vw;
        margin-top: 0px;
    }

    .interiores{
        width: 225px;
        margin: 10px;
        
    }   

    .el-mueble{
        width: 225px;
        margin: 10px;
        padding: 10px;
    }

    .mi-casa{
        width: 225px;
        margin: 10px;
        padding: 10px;
    }

    #footer-principal{
        display: block;
        height: 200px;
    } 

    .copyright{
        clear:both;
        margin: 10px;
        padding: 10px;
        justify-content: center;
        }   
}

/** Requerimiento 3.3 Adaptación optimizada para verse en una tablet (iPad Air) en posición horizontal. */
@media screen and (width: 1180px) and (height:820px) and (orientation:landscape){
    
    .logo{
        width: 25vw;
        height: 300px;
    }

    .contenedor-derecho{
        position: relative;
        right: 2vw;

    }

    .logo-img{
        width: 50vw;
        position: relative;

    }    

    .lista-menu{
        height: 150px;
    }

    .telefono{
        width: 40vw;
        position: relative;
        right: 15vw;
        bottom: 10vw;
    }

    nav {
        position: relative;
        bottom: 8vw;
    }

    .section{
        float: left;
        width: 94.2%;
        height: 60vw;
        font-size: 20px;
        margin-top: 10px;
    }

    article{
        font-size:1.5vw;
    }

    section h3{
        font-size: 1.8vw;
    }

    .sofa1{
        width: 60%;
        margin-bottom: 10px;
    }

    .sofa2{
        width: 60%;
        margin-bottom: 10px;
    }

    .footer-sec1{
        position: relative;
        bottom: 10px;
    }

    section footer p{
        font-size: 20px;
    }

    #aside{
        display: flex;
        float: left;
        width: 99%;
        height: 20vw;
        margin-top: 0px;
    }

    .interiores{
        width: 225px;
        margin: 10px;
        
    }   

    .el-mueble{
        width: 225px;
        margin: 10px;
        padding: 10px;
    }

    .mi-casa{
        width: 225px;
        margin: 10px;
        padding: 10px;
    }

    #footer-principal{
        display: block;
        height: 200px;
    } 

    .copyright{
        clear:both;
        margin: 10px;
        padding: 10px;
        justify-content: center;
        }   
}

/** Requerimiento 3.4 Adaptación optimizada para verse en un teléfono (Samsung Galaxy S20 Ultra) */
/** en posición vertical. */
@media screen and (width: 412px) and (height: 915px) and (orientation:portrait){
    
    .logo{
        width: 0vw;
        height: 300px;
    }

    .contenedor-derecho{
        position: relative;
        right: 2vw;

    }

    .logo-img{
        width: 50vw;
        position: static;
    }   
    
    .redes{
        position: relative;
        top:150px;
        left: 5px;
    }

    .lista-menu{
        height: 150px;
    }

    .telefono{
        width: 100vw;
        position: relative;
        right: 60vw;
        bottom: 250px;
    }

    nav{
        position: relative;
        bottom: 250px;
    }

    .section{
        float: left;
        width: 85%;
        height: 75vw;
        font-size: 20px;
        margin-top: 10px;
    }

    article{
        font-size:1.5vw;
    }

    section h3{
        font-size: 1.8vw;
    }

    .sofa1{
        width: 60%;
        margin-bottom: 10px;
    }

    .sofa2{
        width: 60%;
        margin-bottom: 10px;
    }

    .footer-sec1{
        position: relative;
        bottom: 30px;
    }

    #aside{
        display: flex;
        float: left;
        width: 99%;
        height: 20vw;
        margin-top: 0px;
    }

    .interiores{
        width: 225px;
        margin: 10px;
        
    }   

    .el-mueble{
        width: 225px;
        margin: 10px;
        padding: 10px;
    }

    .mi-casa{
        width: 225px;
        margin: 10px;
        padding: 10px;
    }

    #footer-principal{
        display: block;
        height: 250px;
    } 

    .copyright{
        clear:both;
        margin: 10px;
        padding: 10px;
        justify-content: center;
        position: relative;
        bottom: 20px;
        }    
}

/** Requerimiento 3.5 Adaptación optimizada para verse en un teléfono (Samsung Galaxy S20 Ultra) */
/** en posición horizontal. */
@media screen and (width: 915px) and (height: 412px) and (orientation:lanscape){
    
    .logo{
        width: 0vw;
        height: 300px;
    }

    .contenedor-derecho{
        position: relative;
        right: 2vw;

    }

    .logo-img{
        width: 50vw;
        position: static;
    }   
    
    .redes{
        position: relative;
        top:150px;
        left: 5px;
    }

    .lista-menu{
        height: 150px;
    }

    .telefono{
        width: 100vw;
        position: relative;
        right: 60vw;
        bottom: 250px;
    }

    nav{
        position: relative;
        bottom: 250px;
    }

    .section{
        float: left;
        width: 85%;
        height: 75vw;
        font-size: 20px;
        margin-top: 10px;
    }

    article{
        font-size:1.5vw;
    }

    section h3{
        font-size: 1.8vw;
    }

    .sofa1{
        width: 60%;
        margin-bottom: 10px;
    }

    .sofa2{
        width: 60%;
        margin-bottom: 10px;
    }

    .footer-sec1{
        position: relative;
        bottom: 30px;
    }

    #aside{
        display: flex;
        float: left;
        width: 99%;
        height: 20vw;
        margin-top: 0px;
    }

    .interiores{
        width: 225px;
        margin: 10px;
        
    }   

    .el-mueble{
        width: 225px;
        margin: 10px;
        padding: 10px;
    }

    .mi-casa{
        width: 225px;
        margin: 10px;
        padding: 10px;
    }

    #footer-principal{
        display: block;
        height: 250px;
    } 

    .copyright{
        clear:both;
        margin: 10px;
        padding: 10px;
        justify-content: center;
        position: relative;
        bottom: 20px;
        }    
}

   