*{
    box-sizing: border-box;
}
.pagina{
    
        display:block;
        width:70vw;;
        margin: auto;
    }
    header{
        background:linear-gradient(rgba(5, 7, 12, 0.61), rgba(5, 7, 12, 0.61)),
        url("../HEADER/otro.jpg");
        background-size:cover;
        display:flex;
        width:100%;
        min-height:800px;
       justify-content:space-between;
        
    }
    
    
    .contenedor-derecho{
        display:flex ;
        justify-content:space-between;
        flex-direction:column;
        width:35%;
    }
    
    .redes {
        display:flex;
        justify-content:right;
        padding-right:10px;
        height: 40px;
        padding-top:10px;
    }
    
    .telefono{
        display:flex;
        align-items:center;
        padding-right:5px;
        padding-bottom:90px;
        justify-content:center;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color:white;
        border-radius:8px;
        margin-right:10px;
    }
    
    .telefono img{
        padding-right:5px;
        filter: brightness(0) invert(1);
        height:40px;
    }
   
    .logo{
        display:flex;
        width:100%;
        align-items:center;
        justify-content:center;
        
    }
    
    
    
    .logo-img{
        display:flex;
        height:500px;
        filter: brightness(0) invert(1);
        padding-left:350px;
        
    }
    
    
    
    nav{
    
        background:transparent;
        margin-top:-80px;
        display:flex;
        justify-content:center;
        align-items:center;
        width:100%;
        height:50px;
        z-index:1006;
       
    }
    

    nav ul{
        list-style: none;
    
    }
    
    

    nav a{
        padding-right:20px;
        color:white;
        text-decoration:none;
        font-size:24px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
        transition: all .55s ease;
        border-bottom: 2px solid transparent;
    }
    
    nav a:hover {
        border-bottom: 2px solid white;
    }
    
    
   
    .lista-menu > li {
        position: relative;
        display: inline-block;
    }
    
    
    
    .lista-menu > li > a{
        display: block;
        padding: 15px 20px;
        
        
    }
    
   
    .submenu-productos{
        position:absolute;
        background:linear-gradient(rgba(5, 7, 12, 0.65), rgba(5, 7, 12, 0.65));
        border-radius:8px;
        width:150%;
        text-align:center;
        padding-right:25px;
        margin-top:25px;
        visibility:hidden;
        opacity: 0;
    
        transition: opacity 0.55s;
        z-index:1007;
    }
    
    
    .submenu-productos li a{
        display:block;
        padding: 15px;
        
    
    }
    
    
    .lista-menu li:hover .submenu-productos{
        visibility: visible;
        opacity: 1;
    
    }
    
    
    .submenu-fijos{
        position:absolute;
        background:linear-gradient(rgba(5, 7, 12, 0.65), rgba(5, 7, 12, 0.65));
        border-radius:8px;
        width:50%;
        text-align:center;
        padding-right:25px;
        margin-left:250px;
        margin-top: -50px;
        visibility:hidden;
        opacity: 0;
        z-index:1008;
        transition: opacity 0.55s;
    }
    
    
    .submenu-fijos li a{
        display:block;
        padding: 15px;
        
    
    }
    
   
    .submenu-productos li:hover .submenu-fijos{
        visibility: visible;
        opacity: 1;
    
    }
    
    
   
    .submenu-deslizantes{
        position:absolute;
        background:linear-gradient(rgba(5, 7, 12, 0.65), rgba(5, 7, 12, 0.65));
        border-radius:8px;
        width:50%;
        text-align:center;
        padding-right:25px;
        margin-left:250px;
        margin-top: -50px;
        visibility:hidden;
        opacity: 0;
       transition: opacity 0.55s;
    }
    
    
    .submenu-deslizantes li a{
        display:block;
        padding: 15px;
        
    
    }
    

    .submenu-productos li:hover .submenu-deslizantes{
        visibility: visible;
        opacity: 1;
    
    }



.contenido{
   width: 100%;
   margin-right: 15px;
   margin-top: 15px;
   border: 1px solid #867e66;
   height: 110w;
   margin-top: 45px;
   margin-bottom: 20px;
  
}
.titulo{
    color: #867e66;;
    padding-left: 10px;
    padding-right: 10px;
}
.texto{
   color: #867e66;;
    text-align: justify ;
    padding-left: 10px;
    padding-right: 10px;

}


.figura img{
    
    padding:10px;
    width: 85%;
}
.figura{
    float: left;
    width: 60%;
    margin:15px 0px 5px 10px;
}


 
#footer-principal{
    clear: both;
    background-image: url( ../HEADER/footer.jpg);
    background-size: cover;
    height: 290px;
    text-align: center;
    color: #fcfaf6;  
    width: 100%; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 20px;
}

footer a{
    text-decoration: none;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer h3{
    font-size: 15;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fcfaf6;    
}

table th{
    padding: 10px;
}

.redes-sociales{
    margin-top: 10px;
    width: 25%;
}

img.peq{
    margin-left: 30px;
}

.redes-sociales nav a{
    margin: 10px;
}

.contenedorfooter{
    display:flex;
    width:60%;
    align-items:left;
    justify-content:space-between;
    flex-direction: column;
    font-size:22px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contactofooter{
    display:flex;
    text-align:left;
    align-items:center;
    margin-bottom: 10px;
    height:30px; 
}

.t{
    width: 100%;
    padding: 10px;
    text-align: center;
    display: flexbox;
}
       

.copyright{
    clear:both;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    }

.tlf{
    background-color:transparent;
}
h2{
    color:white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    Background-color:rgb(54, 54, 54);
}


/*Dimensiones para max-width de 1300*/
@media (max-width: 1300px){
    .pagina{
        width: 97vw;
    }

    .logo{
        display:relative;
       width:50vw;
    }
    .logo-img{
        width: 100vw;
    }
    .contenedor-derecho{
        display:none;
    }
   
    nav{
        margin-top:0px;
        display:block;
        text-align:center;
        align-items:center;
        margin-left:350px;
        width:40%;
        height:100%;
       
    }

    nav  a{
        color:black;
        font-size:28px;
    }

    nav a:hover {
        border-bottom: 2px solid black;*/
    }  
    .texto{
       
         padding-left: 10px;
         padding-right: 15px;
         text-align: justify ;
        
     }
     
    
.figura img{
    
    padding:10px;
    width: 100%;
}
.figura{
    float: left;
    width: 68%;
    margin:20px 8px 5px 10px;
    
   
}
}
/*Dimensiones de iPad Air*/
@media (max-width: 820px) and (orientation :portrait){
    .pagina{
        width: 97vw;
    }
    .logo{
        display:relative;
       width:50vw;
    }
    .logo-img{
        width: 100vw;
    }
    .contenedor-derecho{
        display:none;
    }
    nav{
        margin-left:230px;
       
        }
        .figura img{
    
            padding:10px;
            width: 100%;
        }
        .figura{
            float: left;
            width: 68%;
            margin:20px 8px 5px 10px;
            
}
}
@media (max-width: 1180px) and (orientation :landscape){
    .pagina{
        width: 97vw;
    }
    .logo{
        display:relative;
       width:50vw;
    }
    .logo-img{
        width: 100vw;
    }
    .contenedor-derecho{
        display:none;
    }
    .figura img{
    
        padding:10px;
        width: 100%;
    }
    .figura{
        float: left;
        width: 60%;
        margin:20px 8px 5px 10px;
}
}

/*Dimensiones SamsungGalaxy A51/71*/
@media (max-width: 412px) and (orientation :portrait){
   
    .pagina{
        width:97vw;
        justify-content:center;
    }
    header{
        width:97vw;
        /*position: relative;*/
        height: 250px;
    }

    .logo img{
        width:150%;
        height:300px;
    }
    .logo-img{  
        display: flex;
        padding-left: 50px;
        width: 70%;
        }

    nav{
        width: 60%;
        font-size: xx-small;
        position: relative;
        text-align: center;
        margin-left:70px
       
        }
     .contenido{
        width: 97vw;
        font-size: 10px;
     }
    .contenedor-derecho{
        display:none;
    }
   
    #footer-principal{
        width:97 vw;
        display: block;
        height: 400px;
    } 
/*Dimensiones SamsungGalaxy A51/71*/
@media (max-width: 914px) and (orientation :landscape){
    .pagina{
        width: 97vw;
        justify-content:center;
        }
        header{
            width:50vw;
            height: 250px;
        }
    
        .logo img{
            width:150%;
            height:300px;
        }
        .logo-img{  
            display: flex;
            padding-left: 50px;
            width: 70%;
            }
    
        nav{
            width: 60%;
            font-size: xx-small;
            position: relative;
            text-align: center;
            margin-left:70px
           
            }
         .contenido{
            font-size: 10px;
         }
        .contenedor-derecho{
            display:none;
        }
       
        #footer-principal{
            display: block;
            height: 400px;
        } 

}
}